body {
    font-family: Arial, sans-serif;
}

h1, p {
    text-align: center;
}

form {
    width: 60%;
    margin: auto;
}

fieldset {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    width: 33%;
}

#mapProjection1, #mapProjection2 {
    width: 80%;
    height: 400px;
    margin: auto;
    margin-bottom: 20px;
}
