<!DOCTYPE html>
<html>
<head>
    <title>Map Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/scripts.js"></script>
</head>
<body>
    <form method="POST">
        <fieldset>
            <legend>First Pair of Locations</legend>
            <input type="checkbox" id="includeFirstPair" name="includeFirstPair" checked>
            <label for="includeFirstPair">Include this pair in map</label>
            <input type="text" id="location1Name" name="location1Name" placeholder="Location 1 Name" value="{{location1[0]}}">
            <input type="text" id="location1Lat" name="location1Lat" placeholder="Location 1 Latitude" value="{{location1[1]}}">
            <input type="text" id="location1Lon" name="location1Lon" placeholder="Location 1 Longitude" value="{{location1[2]}}">
            <input type="text" id="location2Name" name="location2Name" placeholder="Location 2 Name" value="{{location2[0]}}">
            <input type="text" id="location2Lat" name="location2Lat" placeholder="Location 2 Latitude" value="{{location2[1]}}">
            <input type="text" id="location2Lon" name="location2Lon" placeholder="Location 2 Longitude" value="{{location2[2]}}">
        </fieldset>
        <fieldset id="secondPair">
            <legend>Second Pair of Locations</legend>
            <input type="checkbox" id="includeSecondPair" name="includeSecondPair">
            <label for="includeSecondPair">Include this pair in map</label>
            <input type="text" id="location3Name" name="location3Name" placeholder="Location 3 Name" value="{{location3[0]}}">
            <input type="text" id="location3Lat" name="location3Lat" placeholder="Location 3 Latitude" value="{{location3[1]}}">
            <input type="text" id="location3Lon" name="location3Lon" placeholder="Location 3 Longitude" value="{{location3[2]}}">
            <input type="text" id="location4Name" name="location4Name" placeholder="Location 4 Name" value="{{location4[0]}}">
            <input type="text" id="location4Lat" name="location4Lat" placeholder="Location 4 Latitude" value="{{location4[1]}}">
            <input type="text" id="location4Lon" name="location4Lon" placeholder="Location 4 Longitude" value="{{location4[2]}}">
        </fieldset>
        <input type="submit" value="Generate Maps">
    </form>
    <img id="map_plate_carree" src="/map/{{filename_plate_carree}}">
    <img id="map_azimuthal_equidistant" src="/map/{{filename_azimuthal_equidistant}}">
</body>
</html>
